:root {
  --background-color-base: #ffffff;
  --background-color-secondary: #2196f3;
  --backround-color-buttonhover: #188ce8;
  --backround-color-buttoncalm: #f5f4fa;
  --background-color-eyemagnet: #2f303a;
  --color-primary: #212121;
  --color-accent: #2196f3;
  --color-logo: #000000;
  --color-logo-title: #ffffff;
  --color-description: #757575;
  --color-icons: #afb1b8;
  --tr-time: 250ms;
  --tr-spread: cubic-bezier(0.4, 0, 0.2, 1);
  --tr-delay: 100ms;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--background-color-base);
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.list {
  list-style: none;
}

.logo-top,
.logo-bottom {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-top {
  color: var(--color-logo);
  padding-top: 24px;
  padding-bottom: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

.logo-bottom {
  color: var(--color-logo-title);
}
.logo-bottom-container {
  margin-bottom: 28px;
}

.letter {
  color: var(--color-accent);
}

.link {
  color: var(--color-primary);
  font-weight: 500;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.site-nav-list {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}

.site-nav-list a {
  transition: color var(--tr-time) var(--tr-spread);
}

.site-nav-list li:not(:last-child) {
  margin-left: 0;
  margin-right: 50px;
}

.nav-container,
.contacts-container {
  display: flex;
  align-items: center;
}

.nav-container > a {
  margin-right: 93px;
}

.contacts-container li:last-child {
  margin-left: 40px;
}
.contacts-container li:first-child {
  margin-left: 0;
}

.site-nav .link {
  display: block;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
}
.site-nav .link-current {
  position: relative;
  display: block;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--color-accent);
}
.site-nav .link-current {
  color: var(--color-accent);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link-current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--background-color-secondary);
  border-radius: 2px;
}

header {
  border-bottom: 1px solid #ececec;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contacts {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-contacts li:not(:last-child) {
  margin-bottom: 12px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  align-content: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin: 0 auto;
}

.header-contacts .link {
  color: var(--color-description);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--tr-time) var(--tr-spread);
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--color-accent);
}

.header-contacts {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.header-contacts a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}
.header-contacts li {
  color: var(--color-description);
}
.header-contacts li:hover,
.header-contacts li:focus {
  color: var(--color-accent);
}

.envelope-intouch-icon,
.smartphone-intouch-icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  margin: 0 auto;
  max-width: 1600px;
  text-align: center;
}

.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  min-height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/effective-solutions-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer,
.hero {
  background-color: var(--background-color-eyemagnet);
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--color-logo-title);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-adv,
.section-portf {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.section-do {
  padding-top: 0;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.section-team {
  text-align: center;
  background-color: var(--backround-color-buttoncalm);
  padding-top: 94px;
  padding-bottom: 94px;
}

.advanteges-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.advanteges-list .item {
  width: 270px;
  margin-left: 0;
  margin-right: 30px;
}

.advanteges-list .item:last-of-type {
  margin-right: 0;
}

.advanteges-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantege-item {
  display: inline-block;
  width: 270px;
  height: 120px;
  background-color: var(--backround-color-buttoncalm);
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}
.advantege-crd:not(:last-child) {
  margin-right: 30px;
}

.advantege-content {
  width: 270px;
  height: 120px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantege-content > .title {
  margin-top: 0;
  margin-bottom: 10px;
}

.advantege-content .description {
  color: var(--color-description);
  line-height: 1.71;
}
.whatwedo-crd {
  position: relative;
}
.whatwedo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.whatwedo-item {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
.members {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.members .name {
  font-weight: 500;
}
.members .position {
  color: var(--color-description);
}
.members-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.members-list .crd {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.members-list .crd:not(:last-child) {
  margin-right: 30px;
}
.crd {
  background-color: var(--background-color-base);
}
.name-position {
  background: var(--background-color-base);
  padding-top: 30px;
  padding-bottom: 16px;
}

.name-position h3 {
  margin-bottom: 10px;
}

.name,
.position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.name {
  font-weight: 500;
}
.position {
  color: var(--color-description);
}

.member-social-networks {
  display: flex;
  gap: 10px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
}

.member-intouch {
  width: 44px;
  height: 44px;
  margin: 0;
}

.social-networks-intouch {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 12px;
  margin: 0;
  border: none;
  fill: var(--color-icons);
  transition: fill var(--tr-time) var(--tr-spread) var(--tr-delay),
    background-color var(--tr-time) var(--tr-spread);
}
.social-networks-intouch:hover,
.social-networks-intouch:focus {
  background-color: var(--color-accent);
  fill: var(--color-logo-title);
}

.title-project {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.example {
  color: var(--color-description);
  font-size: 16px;
  line-height: 1.88;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

.button {
  font-family: "Roboto";
  font-size: 16px;
  text-align: center;
}

.button-primary {
  padding: 10px 24px;
  color: var(--color-logo-title);
  background-color: var(--background-color-secondary);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--tr-time) var(--tr-spread);
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--backround-color-buttonhover);
}

.button-secondary-act,
.button-secondary-calm {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  font-family: inherit;
  padding: 6px 22px 6px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-secondary-act {
  color: var(--color-logo-title);
  background-color: var(--background-color-secondary);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-secondary-calm {
  background-color: var(--backround-color-buttoncalm);
}

.button-secondary-calm:hover,
.button-secondary-calm:focus {
  color: var(--color-logo-title);
  background-color: var(--background-color-secondary);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.map {
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  color: var(--color-logo-title);
  transition: color var(--tr-time) var(--tr-spread);
}

.email,
.tel {
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--tr-time) var(--tr-spread);
}

.email:hover,
.email:focus,
.tel:hover,
.tel:focus,
.map:hover,
.map:focus {
  color: var(--color-accent);
}
.flex-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
  justify-content: center;
}

.flex-button-element:not(:last-child) {
  margin-right: 8px;
}
.flex-button-element button {
  transition: color var(--tr-time) var(--tr-spread) var(--tr-delay),
    background-color var(--tr-time) var(--tr-spread);
}

.flex-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.examples-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-right: -30px;
  margin-bottom: -30px;
}
.examples-list > .flex-element {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}
.flex-element:hover,
.flex-element:focus {
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card {
  text-decoration: none;
  cursor: pointer;
}

.card-thumb {
  position: relative;
  background: var(--background-color-base);
  overflow: hidden;
}
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition: opacity, transform var(--tr-time) var(--tr-spread);
}

.card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.card-info {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-logo-title);
  opacity: 0;
  transition: opacity var(--tr-time) var(--tr-spread) var(--tr-delay);
}

.card-info p {
  padding: 63px 24px;
}

.card:hover .card-overlay,
.card:hover .card-info {
  opacity: 1;
  transform: translateY(0);
}

.section-partners {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-partners .section-title {
  margin-top: 0;
  margin-bottom: 50px;
}
.partners-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 30px;
}

.partner-crd {
  width: 170px;
  height: 92px;
}

.partners-logo {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-icons);
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0;
  fill: var(--color-icons);
  transition: fill var(--tr-time) var(--tr-spread);
}
.partners-logo:hover,
.partners-logo:focus {
  border: 1px solid var(--color-accent);
  fill: var(--color-accent);
}
.partners-logo-icon {
  width: 100%;
  height: 100%;
}

.join {
  color: var(--color-logo-title);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-join {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 12px;
  margin: 0;
  border: none;
  fill: var(--color-logo-title);
  background-color: rgba(255, 255, 255, 0.1);
  transition: fill var(--tr-time) var(--tr-spread) var(--tr-delay),
    background-color var(--tr-time) var(--tr-spread);
}
.social-join:hover,
.social-join:focus {
  background-color: var(--background-color-secondary);
}

.social-icons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
}
.social-icons .list {
  width: 44px;
  height: 44px;
}
footer > .container {
  display: flex;
  gap: 70px;
  align-items: baseline;
}
.mailing-title {
  color: var(--color-logo-title);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.mailing-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.mailing-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: var(--background-color-eyemagnet);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.mailing-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mailing-input:not(:placeholder-shown) {
  color: rgba(255, 255, 255, 0.6);
}
.mail-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.88;
  color: var(--color-logo-title);
  fill: var(--color-logo-title);
  background-color: var(--background-color-secondary);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.mail-button svg {
  margin-left: 10px;
}

.mail-button:hover,
.mail-button:focus {
  background-color: var(--backround-color-buttonhover);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  transform: scale(1) rotate(720deg);
  transition-duration: 250ms;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.backdrop.is-hidden {
  transform: scale(0.5) rotate(0deg);
  transition-duration: 250ms;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px 0;
}

.modal-container {
  position: relative;
  width: 100%;
  max-width: 528px;
  height: 100%;
  max-height: 581px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 39px 40px 41px;
  background-color: var(--background-color-base);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow-y: auto;
}

.close-button {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 6px;
  background-color: var(--background-color-base);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--tr-time) var(--tr-spread);
}
.close-button:hover,
.close-button:focus {
  fill: var(--color-accent);
}
.close-button .close {
  text-align: center;
  justify-content: center;
}
textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-title {
  font-weight: 700px;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
  letter-spacing: 0.03em;
  margin-left: auto;
  margin-right: auto;
}

.modal-field:not(:last-child) {
  margin-bottom: 10px;
}
.modal-field:last-child {
  margin-bottom: 20px;
}
.modal-field label {
  margin-bottom: 4px;
}
.modal-field input {
  width: 100%;
  height: 40px;
  padding: 0 12px 0 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--tr-time) var(--tr-spread),
    fill var(--tr-time) var(--tr-spread);
}
.modal-field input:hover,
.modal-field input:focus,
.modal-field textarea:hover,
.modal-field textarea:focus {
  border-color: var(--background-color-secondary);
}
.modal-field input:hover + .modal-field-icon,
.modal-field input:focus + .modal-field-icon {
  fill: var(--background-color-secondary);
}

.modal-field-icon {
  transition: fill var(--tr-time) var(--tr-spread);
}
.modal-field-icon:hover,
.modal-field-icon:focus {
  fill: var(--background-color-secondary);
}

.modal-field textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  outline: none;
  transition: border-color var(--tr-time) var(--tr-spread);
}

.modal-field textarea:not(:placeholder-shown) {
  color: var(--color-logo);
}
.modal-checkbox {
  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: 30px;
  margin-left: 0;
}
.modal-checkbox a {
  color: var(--color-accent);
  cursor: pointer;
}
.modal-field-checkbox {
  margin-left: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal-checkbox label {
  position: relative;
  padding-left: 23px;
  color: var(--color-description);
  cursor: pointer;
}

.checkbox-icon {
  position: absolute;
  margin-right: 8.38px;
  margin-left: 12px;
  fill: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 2px;
  transition: fill var(--tr-time) var(--tr-spread),
    background-color var(--tr-time) var(--tr-spread);
}
.modal-field-checkbox:checked:checked + .checkbox-icon {
  fill: var(--color-logo-title);
  background-color: var(--background-color-secondary);
  border: 2px solid var(--background-color-secondary);
}

.modal ul {
  padding: 0;
  margin: 0;
}
.modal-field {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-description);
}

.submit-button {
  padding: 10px 52px;
  font-weight: 700px;
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-logo-title);
  background-color: var(--background-color-secondary);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--tr-time) var(--tr-spread);
}
.submit-button:hover,
.submit-button:focus {
  background-color: var(--backround-color-buttonhover);
}
.modal-field-element {
  position: relative;
}
.modal-field-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  cursor: pointer;
}

.submit-button {
  display: flex;
  margin: 0 auto;
}
